/*
	STYLE.CSS:
*/


/*STRUCTURE----------------------------STRUCTURE*/
html {
	font-size: 62.5%;
}


body {
	

}
.bg-filler {
	position: fixed;
	top:0; left:0; bottom:0; right:0;
	z-index: -1;

	background: rgb(81,95,106);
	background: -moz-linear-gradient(-45deg,  rgba(81,95,106,1) 0%, rgba(35,47,59,1) 39%, rgba(0,0,0,1) 77%);
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(81,95,106,1)), color-stop(39%,rgba(35,47,59,1)), color-stop(77%,rgba(0,0,0,1)));
	background: -webkit-linear-gradient(-45deg,  rgba(81,95,106,1) 0%,rgba(35,47,59,1) 39%,rgba(0,0,0,1) 77%);
	background: -o-linear-gradient(-45deg,  rgba(81,95,106,1) 0%,rgba(35,47,59,1) 39%,rgba(0,0,0,1) 77%);
	background: -ms-linear-gradient(-45deg,  rgba(81,95,106,1) 0%,rgba(35,47,59,1) 39%,rgba(0,0,0,1) 77%);
	background: linear-gradient(135deg,  rgba(81,95,106,1) 0%,rgba(35,47,59,1) 39%,rgba(0,0,0,1) 77%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#515f6a', endColorstr='#000000',GradientType=1 );
}

.rndPic {
	
	width:100%;
	height: 700px;
	z-index: 50;
	margin-top: 80px;
	
	
	background-image:url("../images/common/bkgrnds/squares-1.png");
	background-repeat: no-repeat;

}

header {

}
main {

}

footer {
	
}
section {
	border-radius:2%;
	padding-top: 5%;
	background-color: #EDEDED;
	box-shadow: 2px 2px 8px 4px #000;
	width:100%px;
	height:150px;
}

.other {
	background-color: #000;
}
svg {
  display: block;
  width: 100%;
  height: 90px;

  background-color: #EDEDED;
  /*box-shadow: 2px 2px 8px 4px #000;*/
}

/* LOGO -------------------- LOGO */
#logo {
	display:inline-block;
	position: relative;
  	z-index: 1;
  	margin: 1%;
}

#logo {
  perspective: 1000px;
}

.logo-item {
	width:200px;
	height: 200px;
	border: 2px dashed #515F69;
	box-shadow: 0 0 0 8px #EDEDED;
	background-color: #EDEDED;
	border-radius: 50%;
	overflow: hidden;

  transform-style: preserve-3d;
  transition: all 1.0s linear;
}
.logo-item:hover {
  transform: rotateY(180deg);
}
.primary {
  position: absolute;
  backface-visibility: hidden;
  margin:auto;
  text-align: center;	
}
.primary h2 {
	font-family: 'Chunk', sans-serif;
	font-size: 4em;
	margin:auto;
	text-align: center;
}
.secondary {
  	transform: rotateY(180deg); 
  	backface-visibility: hidden;
}
.secondary p {
	
	font-family: 'League Gothic', sans-serif;
	font-size: 2.2em;
	color: #515F69;
	overflow: hidden;
	margin:auto;
	text-align: center;
}


.picture{
	width: 100px;
	height: 100px;
}



/* BOX --------------------- BOX */
.box {
	position:absolute;
	display:block;
	
	width:100%;
	height: inherit;
	overflow: hidden;
	/*border: 2px dashed #515F69;*/
	/*box-shadow: 0 0 0 8px #EDEDED;*/
	box-shadow: 2px 2px 8px 4px #000;
	background-color: #EDEDED;
	background-image:url("images/home/jroel.jpg");

	transition: box-shadow 0.5s, border-radius 0.5s;

}
.box:hover {
	box-shadow: 2px 2px 8px 4px #777;
	border-radius: 5%;
}



.abox { width: 130px; height: 130px; left:160px; top:227px; z-index:100; }
.bbox { width: 130px; height: 135px; left:280px; top:237px; z-index:30;}
.cbox { width: 130px; height: 135px; left:450px; top:227px; z-index:20;}/*Blog*/
.dbox { width: 170px; height: 170px; left:120px; top:387px;  }/*Projects*/
.ebox { width: 150px; height: 140px; left:280px; top:350px; z-index: 50;}/*connect*/
.fbox { width: 130px; height: 130px; left:280px; top:530px; z-index: 70;}
.gbox { width: 230px; height: 230px; left:390px; top:340px; }/*Resources*/


.box-img {
	display:none;
	background-position: 50%;
}

.caption {
	display: none;
	width:100%;
	z-index: 20;
	position: absolute;
	text-align: center;
	bottom:0;
	left: 0;

	background-color: #000;
	opacity: 0.7;
	
}
.caption h2 {
	font-family: 'Chunk', sans-serif;
	text-transform:uppercase;
	font-size: 2.3em;
	color:#EDEDED;
}


/*COLUMNS-------------------COLUMNS*/
.wrapper {
  width: 90%;
  margin: auto;
}
.row:after {
	content="";
	display:table;
	clear:both;
}
.clear {
	clear:both;
}


/*IMAGES---------------------------------------------IMAGES*/
img {
	width: 100%;
	margin:auto;
}

.resize_twenty{
	max-width:20%;
  	max-height:20%;
}
.resize_seventy{
	max-width:70%;
  max-height:70%;
}

/*TYPE------------------------------------------------TYPE*/

h1 {
	font-family: 'Chunk', sans-serif;
	text-transform:uppercase;
	font-size: 2.8em;
	color:#000;
	/*color: #515F69;*/
}
h2 {
	font-family: 'Chunk', sans-serif;
	font-size: 2em;
	color: #000;
}
h3 {
	font-family: 'League Gothic Condensed', sans-serif;
	font-size: 1.6em;
	line-height: 2.8em;
	font-weight: bold;
	color: #000;
}
p {
	font-family: 'League Gothic', sans-serif;
	font-size: 2.5em;
	color: #000;
}

a:link {

	text-decoration: none;
	color: #000;
}

ul li p {
	margin: 0.2em;
}

ul {
	list-style: none;
}

.center {
	text-align: center;
}




/*NAV-------------------------------------------NAV*/
nav {
}
nav ul {
	margin: 2em auto; /*position from top of screen*/
	list-style: none;
	padding-top:20px;
}
nav ul li {
	text-align:right;
	padding-right:15px;
}
nav ul li a {

	font-family: 'Chunk', sans-serif;
	font-size: 2.3em;
	line-height: 2.5em;
	
	color: #000;
	text-decoration: none;

}
nav ul li a:hover {
	text-shadow:1px 1px 4px #444;

}

/*DECO----------------------------------------------DECO*/
hr {
    height: 0.3em;
    margin-bottom: 2em;
	background-color: #dadada;
}


/*MENU DROPDOWN ------------*/
.menuBox {
	position: absolute;
	left:80px;
	top:35px;
	background: transparent;
	width: 50px;
	height: 44px;
	z-index: 100;
	transition: box-shadow 0.5s;

}
.menuBox:hover {
	box-shadow: 2px 2px 8px 4px;
}
.menuLine {
	margin:auto;
	background-color: #EDEDED;
	border-radius: 2px;
	width: 40px;
	height: 5px;
	margin: 7px;
}
.slidedown {
	display:none;
	position: fixed;
	right: 140px;
	top: 30px;
	width: 500px;
	padding: 10px;
	z-index: 40;
	width: 200px;
	border-top-left-radius: 20px;
	border-bottom-right-radius: 20px;
	border: 2px dashed #515F69;
	box-shadow: 0 0 0 8px #EDEDED;


	background: rgb(248,248,248);
	background: -moz-radial-gradient(center, ellipse cover,  rgba(248,248,248,1) 0%, rgba(255,255,255,1) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(248,248,248,1)), color-stop(100%,rgba(255,255,255,1)));
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(248,248,248,1) 0%,rgba(255,255,255,1) 100%);
	background: -o-radial-gradient(center, ellipse cover,  rgba(248,248,248,1) 0%,rgba(255,255,255,1) 100%);
	background: -ms-radial-gradient(center, ellipse cover,  rgba(248,248,248,1) 0%,rgba(255,255,255,1) 100%);
	background: radial-gradient(ellipse at center,  rgba(248,248,248,1) 0%,rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#ffffff',GradientType=1 );
}