/*
	STYLE.CSS:
*/


/*STRUCTURE----------------------------STRUCTURE*/
html {
	font-size: 62.5%;
}


body {

	background: rgb(81,95,106);
background: -moz-radial-gradient(center, ellipse cover,  rgba(81,95,106,1) 0%, rgba(35,47,59,1) 100%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(81,95,106,1)), color-stop(100%,rgba(35,47,59,1)));
background: -webkit-radial-gradient(center, ellipse cover,  rgba(81,95,106,1) 0%,rgba(35,47,59,1) 100%);
background: -o-radial-gradient(center, ellipse cover,  rgba(81,95,106,1) 0%,rgba(35,47,59,1) 100%);
background: -ms-radial-gradient(center, ellipse cover,  rgba(81,95,106,1) 0%,rgba(35,47,59,1) 100%);
background: radial-gradient(ellipse at center,  rgba(81,95,106,1) 0%,rgba(35,47,59,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#515f6a', endColorstr='#232f3b',GradientType=1 );

	height: 100vh;

}


header {

}
main {
	padding-top: 5%;
}

footer {
	
}

/* LOGO -------------------- LOGO */
#logo {
	display:inline-block;
	position: relative;
  	z-index: 1;
  	margin: 1%;
}

#logo {
  perspective: 1000px;
}

.logo-item {
	width:200px;
	height: 200px;
	border: 2px dashed #515F69;
	box-shadow: 0 0 0 8px #EDEDED;
	background-color: #EDEDED;
	border-radius: 50%;
	overflow: hidden;


  transform-style: preserve-3d;
  transition: all 1.0s linear;
}
.logo-item:hover {
  transform: rotateY(180deg);
}
.primary {
  position: absolute;
  backface-visibility: hidden;  	
}
.primary h2 {
	font-family: 'League Gothic', sans-serif;
	font-size: 20em;
}
.secondary {
  	transform: rotateY(180deg); 
}
.secondary p {
	
	font-family: 'League Gothic', sans-serif;
	font-size: 2.2em;
	color: #515F69;
	overflow: hidden;
}




/* BOX --------------------- BOX */
.box {
	margin: 3%;
	display:inline-block;
	width:150px;
	height: 150px;
	overflow: hidden !important;
	border: 2px dashed #515F69;
	box-shadow: 0 0 0 8px #EDEDED;
	background-color: #EDEDED;
	border-top-left-radius: 20px;
	border-bottom-right-radius: 20px;
	opacity: 0.2;

	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	

}
.box-img {
	display:none;
	background-image: url("images/common/filler.jpg");
}

.caption {
	display: none;
	position: absolute;
	top:15px;
	left: 0;
	background-color: #EDEDED;
	opacity: 0.8;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	text-align: center;
	border-radius:20px;
}


.caption h2 {
	font-family: 'League Gothic', sans-serif;
	text-transform:uppercase;
	font-size: 2.8em;
}
.caption p {
	font-family: 'League Gothic Condensed', sans-serif;
	font-size: 1.6em;

}

.frontPageContainer {
	padding-top:15%;
}

/*MENU DROPDOWN ------------*/
.menuBox {
	position: absolute;
	right:12%;
	top:3%;
	background: transparent;
	width: 50px;
	height: 50px;

}
.menuLine {
	margin:auto;
	background-color: #EDEDED;
	width: 40px;
	height: 7px;
	margin: 5px;
}
.slidedown {
	display:none;
	position: fixed;
	right: 12%;
	top: 3%;
	width: 500px;
	padding: 10px;
	z-index: 40;
	width: 200px;
	border-top-left-radius: 20px;
	border-bottom-right-radius: 20px;
	border: 2px dashed #515F69;
	box-shadow: 0 0 0 8px #EDEDED;


	background: rgb(248,248,248);
	background: -moz-radial-gradient(center, ellipse cover,  rgba(248,248,248,1) 0%, rgba(255,255,255,1) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(248,248,248,1)), color-stop(100%,rgba(255,255,255,1)));
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(248,248,248,1) 0%,rgba(255,255,255,1) 100%);
	background: -o-radial-gradient(center, ellipse cover,  rgba(248,248,248,1) 0%,rgba(255,255,255,1) 100%);
	background: -ms-radial-gradient(center, ellipse cover,  rgba(248,248,248,1) 0%,rgba(255,255,255,1) 100%);
	background: radial-gradient(ellipse at center,  rgba(248,248,248,1) 0%,rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#ffffff',GradientType=1 );


}
/*COLUMNS-------------------COLUMNS*/
.wrapper {
  width: 80%;
  margin: auto;
}
 
.one_fifth	  {width: 18.5%;}
.one_fourth   { width:21.25%; }
.one_third    { width:29.333%; }
.one_half     { width:45.5%; }
.two_third    { width:61.666%; }
.three_fourth { width:69.75%; }
.one_column   { width:94%; }
.full_column  { width:100%; }
 
/* -- Column Margin & Float-- */
.one_half,.one_third,.two_third,
.three_fourth,.one_fourth,.one_column,
.full_column {
	/*margin-left:3%;*/
  /*margin-top:1%;*/
  float:left;
}
 
/* -- Column Row (aka Clearfix) -- */
 
.row:after {
  content: "";
  display: table;
  clear: both;
}



/*IMAGES---------------------------------------------IMAGES*/
img {
	width: 100%;
	margin:auto;
}

.resize_twenty{
	max-width:20%;
  	max-height:20%;
}
.resize_seventy{
	max-width:70%;
  max-height:70%;
}

/*TYPE------------------------------------------------TYPE*/

h1 {
	font-family: 'League Gothic', sans-serif;
	text-transform:uppercase;
	font-size: 2.8em;
	color: #515F69;
}
h2 {
	font-family: 'League Gothic', sans-serif;
	font-size: 2.2em;
	color: #515F69;
}
h3 {
	font-family: 'League Gothic Condensed', sans-serif;
	font-size: 1.6em;
	line-height: 2.8em;
	font-weight: bold;
	color: #515F69;
}
p {
	font-family: 'League Gothic Condensed', sans-serif;
	font-size: 1.4em;
	color: #515F69;
}

a:link {
	text-decoration: none;
	color: #000;
}

ul li p {
	margin: 0.2em;
}

ul {
	list-style: none;
}

.center {
	text-align: center;
}




/*NAV-------------------------------------------NAV*/
nav {
}
nav ul {
	margin: 2em auto; /*position from top of screen*/
	list-style: none;
}
nav ul li {
	text-align:right;
	margin-left: 0.5em;
}
nav ul li a {

	font-family: 'League Gothic Condensed', sans-serif;
	font-size: 1.8em;
	line-height: 2.8em;
	padding-left: 10px;
	color: #515F69;
	text-decoration: none;

}
nav ul li a:hover {
	text-shadow:3px 3px 7px yellow;

}

/*DECO----------------------------------------------DECO*/
hr {
    height: 0.3em;
    margin-bottom: 2em;
	background-color: #dadada;
}
.bokeh { 
	position:absolute; 
	z-index:100; 
}